<!-- Footer -->
<footer class="ft">
    <div class="upper">
        <div class="container">
            <h2>GHÉ THĂM CỬA HÀNG</h2>
            <H3>ngay hôm nay</H3>
            <div>
                <img src="/img/logo-intro.jpg" alt="">
            </div>
        </div>
    </div>
</footer>
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2023 Copyright:
    <a href="https://www.facebook.com/phanhoangquoctu/"> Phan Hoàng Quốc Tú</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->