<!-- Footer -->
<footer style="width: 100%;" class="ft">
    <div class="upper">
        <div class="container">
            <h2>GHÉ THĂM CỬA HÀNG</h2>
            <H3>ngay hôm nay</H3>
            <div>
                <img src="/img/logo-intro.jpg" alt="">
            </div>
        </div>
    </div>
</footer>
<footer class="page-footer font-small blue">

  <!-- Footer -->
<footer style="width: 100%;" class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h4 class="text-uppercase">A Perfect Cup</h4>
        <p>Coffee has become an integral part of many people’s daily routine. For many, a cup of coffee is not only a way to start their day but an essential ingredient for staying focused and productive throughout the day.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Supports</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Privacy & Policy</a>
          </li>
          <li>
            <a href="#!">Terms & Condition</a>
          </li>
          <li>
            <a href="/login">Admin</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2023 Copyright:
    <a href="https://www.facebook.com/phanhoangquoctu/"> Phan Hoàng Quốc Tú</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->