<div class="container bootdey p-0">
    <div class="col-md-12 p-0">
        <section class="panel">
            {{#each coffee}}
            <div class="panel-body d-flex flex-column">
                <div class="pro-img-details">
                    <img src="/img/coffeeBest/{{this.imageId}}" alt="">
                </div>
                <div>
                    <h4 class="pro-d-title">
                        <a href="#" class="">
                            {{this.name}}
                        </a>
                    </h4>
                    <p style="text-align: justify;">
                        {{this.description}}
                    </p>
                    <div class="m-bot15"> <strong>Price : </strong> <span class="pro-price"> ${{this.price}}.00</span>
                    </div>
                    <p>
                        <a href="/">
                            <button class="btn btn-round btn-danger" type="button">Quay lại</button>
                        </a>
                </div>
            </div>
            {{/each}}
        </section>
    </div>
</div>