<div class="wrapper">
  <form class="login" method="POST">
    <p class="title">Log in</p>
    <input type="text" name="username" placeholder="Username" autofocus />
    <i class="fa fa-user"></i>
    <input type="password" name="password" placeholder="Password" />
    <i class="fa fa-key"></i>
      <button type="submit">
        <span class="state btn-text">Login</span>
      </button>
      
  </form>
</div>